/*
Estilo criado a partir do Material Design
@version: v1.0
@author: 2016 wac013
@link:


    0. Imports
    1. Resets
    2. General Properties
    3. Structure
    4. Text formating
    5. Forms
    6. Built-in widgets
    7. Validation    
    8. RichWidgets
    9. Responsive desktop
    10. Responsive tablet portrait
    11. Responsive smartphones 
    12. Additional patterns
*/

/*1. Resets*/

html, body, div, span, 
a, img,  ul, li, form {
    margin: 0px;
    padding: 0px;
    border: 0px;
    font-size: 1em;
    font: inherit;
    line-height: 1.5;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none; 
}
::selection {
  background: #b3d4fc;
  text-shadow: none; 
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; 
}

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle; 
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0; 
}